global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80
    default_backend web_servers

backend web_servers
    balance roundrobin
    server-template web 1-4 web:80 check resolve-prefer ipv4
    #this only shows up to the first 4 replicas

listen stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 5s
    stats auth admin:admin

